*{
	margin:0;
	padding:0;
}
body{
	padding: 40px;
	
}
/*Header*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float: right;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #FF0000;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.logo{
	float: left;
	width:30%;
}
.logo img{
	width: 50%;
}
header ul{
	border-radius: 10px;
}
/*footer*/
.footerLinks a{
	padding: 10px 13px;
	background-color: #333;
	color:white;
	text-decoration: none;
	border: 1px solid #333;
	border-radius: 10px;
}
.icon a{
	background-color: #333;
	color: white;
	padding: 10px;
	margin: 3%;
	border: 1px solid #333;
	border-radius: 10px;
}
.icon{
	display:block;
	
}
a{
	font-variant: small-caps;
	font-family: Arial;
}
/*Marquee*/
.marquee img{
	border: 3px solid black; 
	margin: 2%;
	transition-property: width,height;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition-delay: 0.2s;
}
#marquee img:hover{
	width: 400px;
	height: 400px;
}
.quote img{
	border: 5px solid black;
}
.team{
	height: 200px;
	text-align: center;
	display: inline-block;
	width: auto;
}

.team img{
	border: 1px solid black;
	margin: 1%;
}
/*CSS for slide show*/
h1{
	font-variant: small-caps;
	font-size: 175%;
	background-color: #333;
	color: #f1f1f1;
	padding: 8px;
	border-radius: 10px;
}
.mySlides 
{
	display: none
}
.mySlides img{
	border: 3px solid black;
	height: 500px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  top: 10px;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
	left: 250px;
}
.next {
  right: 250px;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
