fieldset{
	text-align:center;
	border-radius: 10px;
	clear: both;
}
body{
	padding: 20px;
}
legend{
	font-size: 150%;
}
body{
	padding: 5px;
	
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float: right;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.logo{
	float: left;
	width:30%;
}
.logo img{
	width: 50%;
}
header ul{
	border-radius: 10px;
}
footer{
	display:block;
}
.footerLinks a{
	padding: 10px 13px;
	background-color: #333;
	color:white;
	text-decoration: none;
	border: 1px solid #333;
	border-radius: 10px;
}
.icon a{
	background-color: #333;
	color: white;
	padding: 20px;
	margin: 3%;
	border: 1px solid #333;
	border-radius: 10px;
}
.icon{
	display:block;
}
a{
	font-variant: small-caps;
	font-family: Arial;
}
.marquee img{
	border: 3px solid black; 
	margin: 2%;
	transition-property: width,height;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition-delay: 0.2s;
}
#marquee img:hover{
	width: 400px;
	height: 400px;
}
.quote img{
	border: 5px solid black;
}
