@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,300');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
}

.content {
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 30px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 30px;
}

nav ul {
    line-height: 30px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: rgba(0, 0, 0, 0.59);
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.menu-icon {
    line-height: 30px;
    width: 100%;
    background: rgba(0, 0, 0, 0.59);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.menu-item a {
    text-decoration: none;
    font-family: 'Montserrat';
}

.menu-item a:hover {
    color: rgba(4, 0, 0, 0.59);
}

@media(max-width: 786px) {
    .logo {
        position: fixed;
        top: 0%;
        margin-top: 16px;
    }
    nav ul {
        max-height: 0px;
        background: rgba(0, 0, 0, 0.59);
    }
    nav.black ul {
        background: rgba(0, 0, 0, 0.59);
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }
    .showing {
        max-height: 34em;
    }
    .menu-icon {
        display: block;
    }
}

.hero {
    height: 100vh;
    background: linear-gradient(45deg, rgba(151, 45, 62, 0.7), rgba(71, 176, 199, 0.597), rgba(148, 150, 104, 0.7), rgba(175, 49, 87, 0.7), rgba(18, 160, 158, 0.7)) 0 0 / 1000% no-repeat, url(https://picsum.photos/g/2000/1200?image=443) 0 0 / cover no-repeat;
    -webkit-animation: gradientAnimation 40s ease infinite;
    animation: gradientAnimation 40s ease infinite;
}

@-webkit-keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }
    50% {
        background-position: 100% 70%, 0 0;
    }
    100% {
        background-position: 0% 30%, 0 0;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }
    50% {
        background-position: 100% 70%, 0 0;
    }
    100% {
        background-position: 0% 30%, 0 0;
    }
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    line-height: 1.3em;
    font-size: 4em;
    font: normal 550;
    font-family: 'Montserrat';
    text-align: center;
    white-space: nowrap;
}

.hero-subtext {
    display: block;
    margin-top: 1em;
    font-size: 0.4em;
    font-weight: 300;
}

@media(max-width: 786px) {
    .hero-text {
        line-height: 1.5em;
        font-size: 1em;
        font: normal 300;
    }
    .hero-subtext {
        display: block;
        margin-top: 1em;
        font-size: 0.2em;
        font-weight: 300;
    }
}


/*footer */

footer {
    background-color: rgba(0, 0, 0, 0.59);
    padding-top: 4%;
}


/*  login page*/

.hero_login {
    height: 100vh;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(29, 32, 33, 0.597), rgba(148, 150, 104, 0.7), rgba(56, 48, 50, 0.7), rgba(0, 0, 0, 0.7)) 0 0 / 1000% no-repeat, url(https://picsum.photos/id/135/2000/1200?grayscale&blur=2) 0 0 / cover no-repeat;
    -webkit-animation: gradientAnimation 40s ease infinite;
    animation: gradientAnimation 40s ease infinite;
}

@-webkit-keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }
    50% {
        background-position: 100% 70%, 0 0;
    }
    100% {
        background-position: 0% 30%, 0 0;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }
    50% {
        background-position: 100% 70%, 0 0;
    }
    100% {
        background-position: 0% 30%, 0 0;
    }
}

.hero_text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    line-height: 1.3em;
    font-size: 2em;
    font: normal 550;
    font-family: 'Montserrat';
    text-align: center;
    white-space: nowrap;
}

.logbutton {
    text-decoration: none;
    position: absolute;
    top: 60%;
    left: 50%;
}

@media(max-width: 786px) {
    .hero_text1 {
        line-height: 1.5em;
        font-size: 1em;
        font: normal 300;
    }
}


/* faq */

details {
    position: relative;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary::before {
    content: "";
    position: absolute;
    left: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
    width: 1.5em;
    height: 1.5em;
    transition: transform 0.1s linear;
}

summary {
    width: 100%;
    padding: 20px;
    padding-left: 30px;
    font-size: 18px;
}

summary:hover {
    color: #FFBE13;
}

summary:focus {
    outline: none;
}

details[open] summary:before {
    transform: rotate(90deg);
}

details[open]>summary {
    color: #FFBE13;
}

details[open]>summary~* {
    animation: open 1s ease;
}

.answer {
    margin: 5%;
    font-size: 18px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.59);
}

@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.btn-custom {
    display: inline-block;
    color: #000000;
}

.btn-custom:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}