body
{
    padding: 50px;
}
.a
{
	text-align: center;
	text-decoration: none;
	float: left;
	clear: both;
	display: inline-block;
	width: 50%;
    border-style: solid;
	float: left;
	margin: 20px;
	background: #c2c2a3;
	padding:5px;
	border-radius: 10px;
}
.que
{
	display: inline-block;
	width: 50%;
    border-style: solid;
	float: left;
	margin: 20px;
	background: #c2c2a3;
	padding:5px;
	border-radius: 10px;
	
}


.right
{
	float: right;
	width: 40%;
	position: relative;
	top: 150px;
	font-size: 150%;
	display: block;
	border-style: solid;
	padding: 5px;
	border-radius: 15px;
	
}
.map
{ 
   
   float: left;
   clear:both;
   padding-left: 18px;
   
   
}
.add
{
	float: right;
	width: 50%;
	position: relative;
	left: 100px;
	bottom: 375px;
	font-size: 175%;
	clear:both;
}
h3
{
	background: #333;
	color: #ffffff;
	text-align: center;
	font-variant: small-caps;
	font-family: Arial;
	border-radius: 10px;
	position: relative;
	bottom:20px;
}
h1
{
	/*text-transform: uppercase;*/
	color: #ffffff;
	background: #333;
	text-align: center;
	font-variant: small-caps;
	font-family: Arial;
	border-radius: 10px;
	clear:both;
}
.form
{
	text-align: center;
	position: relative;
	bottom: 20px;

}
.form input,textarea
{
	margin: 10px;
}
.label
{ 
   position: relative;
   bottom: 35px;
}
/*Header*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float: right;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #FF0000;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.logo{
	float: left;
	width:30%;
}
.logo img{
	width: 50%;
}
header ul{
	border-radius: 10px;
}
/*footer*/
footer{
	clear:both;
	position: relative;
	bottom: 250px;
	left: 250px;
}
.footerLinks a{
	padding: 10px 13px;
	background-color: #333;
	color:white;
	text-decoration: none;
	border: 1px solid #333;
	border-radius: 10px;
}
.icon a{
	background-color: #333;
	color: white;
	padding: 20px;
	margin: 3%;
	border: 1px solid #333;
	border-radius: 10px;
}
.icon{
	display:block;
	position:relative;
	left:100px;
	
}
a{
	font-variant: small-caps;
	font-family: Arial;
}